*{
    margin: 0;
    padding: 0;
}
.main{
    width: 1800px;
    margin: auto;
}
.header{
    height: 150px;
    width: 1800px;
    
   margin: auto; 
   
}
.branding{
    height: 150px;
    width: 600px;
    background-color: blueviolet;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.branding img{
    height: 150px;
    width: 600px;
}
.socialmedia{
    height: 75px;
    width: 1200px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color:deeppink ;
    }
.socialmedia i{
    height: 75px;
    width: 1200px;
    margin-left: 50px;
    align-items: center;
    line-height: 75px;;
}
.menu{
    height: 75px;
    width: 1200px;
float: left;
    
}
.menu ul li{
    float: left;
    list-style: none;
    display: block;
    height: 60px;
    background-color: orangered ;
    width: 290px;
    margin-left: 10px;
    margin-top: 7px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    
}
.menu ul li:hover{
    background-color: orange ;
}
.menu ul li a{
    text-decoration: none;
    color:blanchedalmond;
}




.container{
    
}
.imagegallery{
    height: 400px;
    width: 100%;
    background-color: darkblue;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    overflow: scroll;
}
.imagegallery img{
    height: 400px;
    width: 100%;
}
.courses{
    width: 1800px;
    height: 400px;
    
}
.bootcamp{
    height: 400px;
    width: 450px;
    background-color:coral;
    float: left;

    
}
.bootcamp img{
    height: 400px;
    width: 450px;
}
.cloud{
    height: 400px;
    width: 450px;
    background-color:rgb(216, 10, 188);
    float: left;
    
}
.cloud img{
    height: 400px;
    width: 450px;
}
.machinelearning{
    height: 400px;
    width: 450px;
    background-color:rgb(49, 238, 12);
    float: left;
    
}
.machinelearning img {
    height: 400px;
    width: 450px;
}

.systemdesign{
    height: 400px;
    width: 450px;
    background-color:rgba(250, 52, 3, 0.705);
    float: left;
    }

.systemdesign img {
    height: 400px;
    width: 450px;
}   
.footer{
    height: 100px;
    width: 100%;
    background-color:darkmagenta;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}